body {
  background-color: lightyellow;
  color: darkblue;
  font-family: "Courier New", Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: left;
}
